<article class="listing">
  <img src="{{contract.image}}" alt="">
  <h3>{{contract.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span> {{contract.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{contract.city}}
  </div>
</article>

{{yield}}
